body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#map {
	height: 100vh;
	width: 100vw;
}

.tomtom-control-panel {
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0px;
	visibility: hidden;
}

.tomtom-control-panel label {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2;
}

.tomtom-control-panel span {
	font-size: 1.2em;
}

.tomtom-control-panel {
	text-align: right;
}