body {
	margin: 0;
}

#map {
	height: 100vh;
	width: 100vw;
}

.polygon-info-box {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px;
	margin: 10px;
	z-index: 1100;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0px;
}

.polygon-info-box label {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2;
}

.polygon-info-box span {
	font-size: 1.2em;
}

.polygon-info-box {
	text-align: right;
}
